$global-font: "Open Sans", sans-serif;

@mixin button() {
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    background-color: #ff0040;
    width: inherit;
    height: inherit;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: translateX(-100px);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    &::before {
      transform: translateX(0px);
    }

    i {
      color: #fff;
      z-index: 3;
      top: 0;
      left: 0;
      position: relative;
    }
  }
}

@mixin dark-theme() {
  $primary-dark: #000;
  //Global
  background-color: $primary-dark;
  color: #fff;

  //navbar
  #navbar-container {
    color: #fff;

    #navbar-top {
      background-color: $primary-dark;
      border-color: #ffffff7a;

      #brand {
        color: #fff;
      }

      #toggle-btn {
        color: #fff;
        background-color: #fff;

        background-color: $primary-dark;
      }

      #menu-btn {
        i {
          color: #fff;
        }
      }
    }
  }
}

@mixin light-theme() {
  //Global
  background-color: #fff;

  //Global
  color: #111;

  //navbar
  #navbar-container {
    color: #111;

    #navbar-top {
      background-color: #fff;

      #brand {
        color: #111;
      }

      #toggle-btn {
        color: #111;
        background-color: #fff;

        // &:hover {
        //   color: #fff;
        //   background-color: #ff0040;
        // }
      }
    }
  }
}

#dark {
  @include dark-theme();
}

#light {
  @include light-theme();
}
