$global-font: "Lato", sans-serif;

@keyframes showText {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes showLoaded {
  from {
    color: transparent;
  }

  to {
    color: #111;
  }
}

@mixin textLoader() {
  animation-name: showLoaded;
  animation-fill-mode: forwards;
  animation-duration: 0ms;
  animation-delay: 1300ms;
  position: relative;
  color: transparent;

  &::before {
    content: "";
    background-color: #ff0040;
    width: inherit;
    height: inherit;
    z-index: 1;
    position: absolute;
    transition-property: transform;
    animation-name: animateBrandOverlay;
    animation-duration: 2000ms;
    animation-delay: 100ms;
    animation-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
    transform: translateX(-100%);
  }
}

@mixin button() {
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 10px);
  z-index: inherit;

  &::before {
    z-index: inherit;
    content: "";
    position: absolute;
    background-color: #ff0040;
    width: inherit;
    height: inherit;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    &::before {
      transform: translateX(0px);
    }

    i {
      color: #fff;
      top: 0;
      left: 0;
      position: relative;
    }
  }
}

@mixin dark-theme() {
  $primary-dark: #0e0e0e;
  background-color: $primary-dark;
  color: #fff;

  #navbar-container {
    color: #fff;

    #navbar-top {
      background-color: $primary-dark;
      border-color: #ffffff7a;

      #brand {
        color: #fff;
      }

      #toggle-btn {
        color: #fff;
        background-color: #fff;
        background-color: $primary-dark;
      }

      #menu-btn {
        i {
          color: #fff;
        }
      }
    }

    #navbar-overlay {
      .overlay-bar {
        background-color: #000;
      }
    }
  }

  .timeline-container {
    .timeline-item {
      .line-wrapper {
        .bullet {
        }

        .line {
        }
      }

      .timeline-info {
        .period {
          color: #000;
          background-color: #ffffff;
        }

        .title {
          color: #fff;
        }

        .desc {
          color: #fff;
        }
      }
    }
  }
}

@mixin light-theme() {
  background-color: #fff;

  color: #111;

  #navbar-container {
    color: #111;

    #navbar-top {
      background-color: #fff;

      #brand {
        color: #111;
      }

      #toggle-btn {
        color: #111;
        background-color: #fff;
      }
    }

    #navbar-overlay {
      .overlay-bar {
        background-color: #f3f3f3;
      }

      #overlay-info {
        #overlay-linkset {
          ul {
            li {
              height: 50px;
              width: fit-content;

              .link {
                color: #000;

                &:hover {
                  color: #ff0040;
                }
              }
            }
          }
        }

        #overlay-contact {
          p {
            color: #000;
          }
        }
      }
    }
  }

  .timeline-container {
    .timeline-item {
      .line-wrapper {
        .bullet {
        }

        .line {
        }
      }

      .timeline-info {
        .period {
          color: #fff;
          background-color: #000000;
        }

        .title {
          color: #000;
        }

        .desc {
          color: #000;
        }
      }
    }
  }
}

#dark {
  @include dark-theme();
}

#light {
  @include light-theme();
}
