$global-font: "Lato", sans-serif;

@mixin textLoader() {
  &::before {
    content: "";
    background-color: #ff0040;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    transition-property: transform;
    animation-name: animateBrandOverlay;
    animation-duration: 1800ms;
    animation-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
    transform: translateX(-101%);
  }
}

@mixin button() {
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 10px);
  z-index: inherit;

  &::before {
    z-index: inherit;
    content: "";
    position: absolute;
    background-color: #ff0040;
    width: inherit;
    height: inherit;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: inherit;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    &::before {
      transform: translateX(0px);
    }

    i {
      color: #fff;
      top: 0;
      left: 0;
      position: relative;
    }
  }
}

@mixin dark-theme() {
  $primary-dark: #0e0e0e;
  //Global
  background-color: $primary-dark;
  color: #fff;

  //navbar
  #navbar-container {
    color: #fff;

    #navbar-top {
      background-color: $primary-dark;
      border-color: #ffffff7a;

      #brand {
        color: #fff;
      }

      #toggle-btn {
        color: #fff;
        background-color: #fff;
        background-color: $primary-dark;
      }

      #menu-btn {
        i {
          color: #fff;
        }
      }
    }

    #navbar-overlay {
      .overlay-bar {
        background-color: #000;
      }
    }
  }
}

@mixin light-theme() {
  //Global
  background-color: #fff;

  //Global
  color: #111;

  //navbar
  #navbar-container {
    color: #111;

    #navbar-top {
      background-color: #fff;

      #brand {
        color: #111;
      }

      #toggle-btn {
        color: #111;
        background-color: #fff;
      }
    }

    #navbar-overlay {
      .overlay-bar {
        background-color: #000000;
      }
    }
  }
}

#dark {
  @include dark-theme();
}

#light {
  @include light-theme();
}
