@import "../themes/themes.scss";

// @keyframes rotateIcon {
//   to {
//     transform: rotateY(180deg);
//   }
// }

#navbar-container {
  display: flex;
  flex-flow: column;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;

  #navbar-top {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    box-shadow: 1px 1px 10px 1px #11111115;
    padding: 5px 20px;

    #brand {
      font-size: 1em;
      pointer-events: none;
      display: flex;
      height: fit-content;
      width: fit-content;
      align-items: flex-start;
      margin: 0 auto 0 30px;

      p {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
      }

      #bar {
        width: 5px;
        margin: 10px 0 0 5px;
        height: 30px;
        border-radius: 10px;
        background-color: #ff0040;
      }
    }

    #toggle-btn {
      @include button();
      width: 40px;
      height: 40px;
      border-radius: 20px;
      transition-property: background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      i {
        font-size: 1.5em;
      }
    }

    #menu-btn {
      @include button();
      cursor: pointer;
      margin: 10px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      transition-property: color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      padding: 5px;
      border-radius: 50%;

      i {
        font-size: 1.5em;
      }
    }
  }
}
