@import "../themes/themes.scss";

@keyframes expandOverlay {
  to {
    transform: translateY(0);
  }
}

@keyframes collapseOverlay {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes collapseOverlayReverse {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

#navbar-container {
  display: flex;
  flex-flow: column;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;

  #navbar-top {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    box-shadow: 1px 1px 10px 1px #11111115;
    padding: 5px 20px;

    #brand {
      font-size: 1em;
      pointer-events: none;
      display: flex;
      height: fit-content;
      width: fit-content;
      align-items: flex-start;
      margin: 0 auto 0 30px;
      position: relative;

      p {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
        position: relative;
      }

      #bar {
        width: 5px;
        margin: 10px 0 0 5px;
        height: 30px;
        border-radius: 10px;
        background-color: #ff0040;
      }
    }

    #toggle-btn {
      @include button();
      width: 40px;
      height: 40px;
      border-radius: 20px;
      transition-property: background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      i {
        position: fixed;
        font-size: 1.5em;
      }
    }

    #menu-btn {
      @include button();
      cursor: pointer;
      margin: 10px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      transition-property: color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      padding: 5px;
      border-radius: 50%;

      i {
        font-size: 1.5em;
      }
    }
  }

  #navbar-overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 70px 0 0 0;
    overflow: hidden;

    .overlay-bar:nth-child(1) {
      animation-delay: 0ms;
    }

    .overlay-bar:nth-child(2) {
      animation-delay: 300ms;
    }

    .overlay-bar:nth-child(3) {
      animation-delay: 500ms;
    }

    .overlay-bar {
      position: relative;
      left: 0;
      top: 0;
      height: 100%;
      flex-grow: 1;
      width: 0;
      animation-name: none;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      transition-property: transform;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      transform: translateY(100%);
      justify-self: flex-end;
    }

    .reverse {
      transform: translateY(-100%);
    }
  }
}
