@import "../themes/themes.scss";

#projectDisplay-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px auto;
  flex-flow: column;

  .title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .projects {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;

    .project {
      width: 100%;
      max-width: 450px;
      height: 100%;
      display: flex;
      flex-flow: column;
      box-shadow: 1px 1px 2px 2px #00000033;
      margin: 20px 5px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      &:hover {
        .project-info {
          transform: translateY(0%);
        }

        .img-wrapper {
          position: relative;

          img {
            transform: scale(1.1);
          }

          .tech-stack {
            opacity: 1;
          }
        }
      }

      .img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition-property: transform;
          transition-duration: 500ms;
          transition-timing-function: ease-in-out;
          position: relative;
          z-index: 0;

          &:hover {
            transform: scale;
          }
        }

        .tech-stack {
          pointer-events: none;
          padding: 70px 20px 10px 20px;
          display: flex;
          opacity: 0;
          justify-content: space-evenly;
          height: inherit;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 2;
          position: absolute;
          background-color: #000000ab;
          transition-property: opacity;
          transition-duration: 500ms;
          transition-timing-function: ease-in-out;

          i {
            color: #000;
            font-size: 3.5em;
            margin: 5px;
            transition-property: filter;
            transition-duration: 200ms;
            transition-timing-function: ease-in-out;
          }

          .fa-react {
            color: #00aeff;
          }

          .fa-sass {
            color: #ff0077;
          }

          .fa-microsoft {
            color: #0077ff;
          }

          .fa-angular {
            color: #e60000;
          }

          .fa-js {
            color: #facc00;
          }
        }
      }

      .project-info {
        height: 60px;
        display: flex;
        width: 100%;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0;

        p {
          color: #000;
          font-weight: bold;
          font-family: "Varela Round", sans-serif;
          font-size: 1.5em;
          padding: 0 30px;
          margin: 0;
        }

        .arrow {
          @include button();
          width: 80px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;

          i {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #projectDisplay-container {
    .projects {
      .project {
        .img-wrapper {
          .tech-stack {
            padding: 50px 20px 10px 20px;
            align-items: flex-start;

            i {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}
