@import "./themes/themes.scss";

.App {
  display: flex;
  flex-flow: column;
  min-width: 100%;
  min-height: 100%;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  padding: 70px 0 0 0;
}
